# Import sensible presets.
# See https://github.com/aspect-build/bazel-lib/tree/main/.aspect/bazelrc
import %workspace%/bazelrc/bazel6.bazelrc
import %workspace%/bazelrc/convenience.bazelrc
import %workspace%/bazelrc/correctness.bazelrc
import %workspace%/bazelrc/debug.bazelrc
import %workspace%/bazelrc/javascript.bazelrc
import %workspace%/bazelrc/performance.bazelrc

# Enable bazel module system.
common --enable_bzlmod

# Disable the system toolchain.
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
